streamlit

# LLM
google-generativeai

# LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface

# Embeddings
sentence-transformers

# Vector DB
chromadb

# PDF
pymupdf

# DOCX
python-docx

# Image handling
pillow

# Environment
python-dotenv

# Utilities
numpy
pandas

# Authentication
bcrypt

# Database
supabase

# BM25
rank-bm25